# Backend
backend/node_modules/
backend/.env

# Frontend (ltdddnt)
ltdddnt/node_modules/
ltdddnt/.expo/
ltdddnt/.env
ltdddnt/.env.local

# Global OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
